<footer class="footer">
  <div class="footer-container">
  <p style="text-align: center"> Copyright &copy;<script>document.write(new Date().getFullYear())</script> Panda Blog All Rights Reserved</p>
  </div> 
</footer>
