<nav class="navbar">
  <div class="logo-container">
    <img src="/public/assets/panda.svg" alt="logo" class="logo" />
  </div>
  <ul class="links-container">
    <li class="nav-links"><a href="/" alt="nav-links">Home</a></li>
    <li class="nav-links"><a href="/" alt="nav-links">Home</a></li>
    <li class="nav-links"><a href="/" alt="nav-links">Home</a></li>
    <li class="nav-links"><a href="/" alt="nav-links">Home</a></li>
  </ul>
</nav>
