<nav class="navbar">
  <div class="logo-container">
    <img src="/public/assets/panda.svg" alt="logo" class="logo" />
  </div>
  <ul class="links-container">
    <a href="/" class="nav-links"><i class="fa-solid fa-house"></i></a>
    <a href="/" class="nav-links"><i class="fa-solid fa-bookmark"></i></a>
    <a href="/" class="nav-links"><i class="fa-solid fa-user"></i></a>
    <a href="/" class="nav-links"><i class="fa-solid fa-pencil"></i></a>
    
  </ul>
</nav>
