<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>404 | Page not found</title>
    <link rel="stylesheet" type="text/css" href="/public/css/404.css">
  <style type="text/css">
  </style>
</head>
<body>

  <div class="container">

    <h2>404</h2>
    <h1>Page not found.</h1>

    <p> {{ message }}</p>
    <p>We’re sorry but it appears that we can’t find the page you were looking for. Usually this occurs because of a page that previously existed was removed or you’ve mistyped the address.</p>

    <span class="go-back"><a href="/">Go back</a></span>
  </div>

</body>
</html>
