
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/global.css">
</head>
<body class="container">
    <%- include('partials/footer.ejs') %>
    <h1>500 page</h1>
    <%- include('partials/navbar.ejs') %>
</body>
</html>
