
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/public/css/global.css">
  <link rel="icon" type="image/x-icon" href="/public/assets/panda.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >
    <%- include('./partials/nav.ejs') %>
    <h1>Hello world</h1>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
